@import "tailwindcss";


body {
  font-family: 'Clash Display';
  background: #E5E5E5;
}
@font-face{
  font-family: 'Clash Display';
  src: url('/font/Clashdisplay/ClashDisplay-Bold.woff2') format('woff2'),
  url('/font/Clashdisplay/ClashDisplay-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face{
  font-family: 'Clash Display';
  src: url('/font/Clashdisplay/ClashDisplay-Semibold.woff2') format('woff2'),
  url('/font/Clashdisplay/ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600;
}
@font-face{
  font-family: 'Clash Display';
  src: url('/font/Clashdisplay/ClashDisplay-Medium.woff2') format('woff2'),
  url('/font/Clashdisplay/ClashDisplay-Medium.woff') format('woff');
  font-weight: 400;
}

@font-face{
  font-family: 'Clash Display';
  src: url('/font/Clashdisplay/ClashDisplay-Regular.woff2') format('woff2'),
  url('/font/Clashdisplay/ClashDisplay-Regular.woff') format('woff');
  font-weight: 500;
}

@font-face{
  font-family: 'Clash Display';
  src: url('/font/Clashdisplay/ClashDisplay-Light.woff2') format('woff2'),
  url('/font/Clashdisplay/ClashDisplay-Light.woff') format('woff');
  font-weight: 300;
}
@font-face{
  font-family: 'Clash Display';
  src: url('/font/Clashdisplay/ClashDisplay-Extralight.woff2') format('woff2'),
  url('/font/Clashdisplay/ClashDisplay-Extralight.woff') format('woff');
  font-weight: 200;
}
body{
  overflow-x: hidden;
}